<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-toolbar-row" >
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="showHideMenu()"  >menu</mat-icon>
    </button><span >Angular All In One App 
      <a [routerLink]="[ '/home', [] ]" mat-icon-button class="example-icon lock_open-icon" aria-label="Click here to login">
        <mat-icon>home</mat-icon>
      </a>
    </span>
    <span class="example-spacer"></span>    
    <a alt="Go To Login" *ngIf="!loginIconFlag" [routerLink]="[ '/login', [] ]" mat-icon-button class="example-icon lock_open-icon" aria-label="Click here to login">
      <mat-icon matTooltip="Click here to login">lock_close</mat-icon>
    </a>
    <a  *ngIf="loginIconFlag" (click)="logOut()" mat-icon-button class="example-icon lock_open-icon" aria-label="Logout">
      <mat-icon  matTooltip="Logout">lock_open</mat-icon>
    </a>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
