<section class="app-login">
	<section class="app-login">
		<div class="container">
			<div class="">
				<mat-tab-group>									
					<mat-tab label="Included form inputs">
						<app-all-samples-included></app-all-samples-included>
					</mat-tab>
					<mat-tab label="Date pickers">
						<app-date-pickers></app-date-pickers>
					</mat-tab>	
					<mat-tab label="Sample Sign up">
						<app-sample-sign-up></app-sample-sign-up>
					</mat-tab>
				</mat-tab-group>
				<div class="row">
				</div>
			</div>
		</div>
	</section>
</section>
