<footer class="bg-dark text-center text-white">
	<div class="container p-4">
		<section class="mb-4">
			<a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/ganesh.g.nath/"
				role="button"><i class="fa fa-facebook-f"></i></a>
			<a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/ganeshgnath1989"
				role="button"><i class="fa fa-twitter"></i></a>
			<a class="btn btn-outline-light btn-floating m-1" target="_blank" href="#!" role="button"><i
					class="fa fa-google"></i></a>
			<a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/ganeshgnath/"
				role="button"><i class="fa fa-instagram"></i></a>
			<a class="btn btn-outline-light btn-floating m-1" target="_blank"
				href="https://www.linkedin.com/in/ganesh-g-nath-90051541/" role="button"><i class="fa fa-linkedin"></i></a>
			<a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/ganeshgnath/"
				role="button"><i class="fa fa-github"></i></a>
		</section>
		<section class="">
			<form [formGroup]="footerNewsLetterForm" (ngSubmit)="onFormSubmit(footerNewsLetterForm.value)">
				<div class="row d-flex justify-content-center">
					<div class="col-auto">
						<p class="pt-2">
							<strong>Sign up for our newsletter</strong>
						</p>
					</div>
					<div class="col-md-5 col-12">
						<div class="form-outline form-white mb-4">
							<input formControlName="email" type="email" id="form5Example21" class="form-control" />
							<div
								*ngIf="(footerNewsLetterForm.controls.email.invalid && footerNewsLetterForm.controls.email.touched) || footerNewsLetterForm.controls.email.dirty">
								<small class="text-danger" *ngIf="footerNewsLetterForm.controls.email.errors?.required">Email
									address is
									required</small>
								<small class="text-danger" *ngIf="footerNewsLetterForm.controls.email.errors?.email">Email
									address is
									invalid</small>
							</div>
						</div>
					</div>
					<div class="col-auto">
						<button [disabled]="footerNewsLetterForm.invalid" type="submit" class="btn btn-outline-light mb-4">
							Subscribe
						</button>
					</div>
				</div>
			</form>
		</section>
		<section class="mb-4">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
				repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
				eum harum corrupti dicta, aliquam sequi voluptate quas.
			</p>
		</section>
		<section class="">
			<div class="row">
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
						<li>
							<a target="_blank" href="#!" class="text-white">Link 1</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 2</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 3</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 4</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
						<li>
							<a target="_blank" href="#!" class="text-white">Link 1</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 2</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 3</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 4</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
						<li>
							<a target="_blank" href="#!" class="text-white">Link 1</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 2</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 3</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 4</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase">Links</h5>
					<ul class="list-unstyled mb-0">
						<li>
							<a target="_blank" href="#!" class="text-white">Link 1</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 2</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 3</a>
						</li>
						<li>
							<a target="_blank" href="#!" class="text-white">Link 4</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© {{copyYear}} Copyright:
		<a class="text-white" target="_blank" href="https://ganeshgnath.in/">ganeshgnath.in</a>
	</div>
</footer>
